<mat-button-toggle-group>
  <mat-button-toggle (click)="showAll()">Show all</mat-button-toggle>
  <mat-button-toggle (click)="filterItems('Sell')">Sell</mat-button-toggle>
  <mat-button-toggle (click)="filterItems('Buy')">Buy</mat-button-toggle>
</mat-button-toggle-group>
<div class="item-list">
  <ul>
    <li *ngFor="let item of filteredItems">
      <span>{{item.typeOfDeal}}</span>
      <span><b> Amount: </b>{{item.amount}}</span>
      <span><b>{{item.currency}}</b></span>
      <span class="delete-icon" (click)="delete(item)">x</span>
    </li>
  </ul>
</div>
