<mat-button-toggle-group>
  <mat-button-toggle routerLink="">Home</mat-button-toggle>
  <mat-button-toggle routerLink="/dolars">Dolars</mat-button-toggle>
  <mat-button-toggle routerLink="/euros">Euros</mat-button-toggle>
</mat-button-toggle-group>

<router-outlet></router-outlet>

