<br>
<span>Добавити за допомогою голосової команди </span>
<button mat-mini-fab color="warn" (click)="startStop()">+</button>
<span>{{ error }}</span>

<div class="item-list">
  <ul>
    <li *ngFor="let item of listItems">
      <span>{{item.typeOfDeal}}</span>
      <span><b> Amount: </b>{{item.amount}}</span>
      <span><b>{{item.currency}}</b></span>
      <span class="delete-icon" (click)="delete(item)">x</span>
    </li>
  </ul>
</div>




