.item-list {
  border: 1px solid gainsboro;
  margin: 5px 0;
}
.item-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-list li:nth-child(even) {
  background: aliceblue;
}
.item-list li span {
  margin: 5px;
}

button {
  margin-right: 10px;
}

.delete-icon {
  color: red;
}

